@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do&text=1stBulerFiva2012HASocmngdby);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy&text=Isthiealyurokngf?!,BmYNCp);
@import url("isotopeStyles.css");



html, body, ul {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    height: 100%;
    width: 100%;
    min-width: 1000px;
    background: #FFB6C1 url("assets/100-90-4.png");
    color: #000;
    font-family: 'Open Sans', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
}

a:link,
a:visited {
    color: slateblue;
    text-decoration: none;
}

a:hover {
    color:#FFF;
    text-decoration: none;
    text-shadow: none;
}

a.selected {
    color: #FFF;
}

h1 {
    margin: 40px 0 25px 0;
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    margin: 30px 0 10px 0;
    font-size: 2rem;
}

ul {
    list-style: none;
}

.hidden {
    display: none;
}

.wobble {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
}

header {
    height: 10rem;
    border-bottom: 3rem solid black;
    background: #FFFFE0 url("assets/100-90-4.png");
    font: 6rem 'Nothing You Could Do', cursive;
    text-align: center;
    text-shadow: 0 1px 0 #FFF;
    white-space: nowrap;
    overflow: hidden;
}

.MainNav {
    position: absolute;
    top: 100px;
    left: 10%;
    font-size: 1.8rem;
    text-shadow: none;
}

.MainNav--item {
    margin-right: 20px;
}

.mainContent {
    position: relative;
    height: 100%;
    width: 95%;
    margin: 0 auto;
}

.mainContainer {
    width: 80%;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.view.selected {
    visibility: visible;
}

.home {
    font-size: 1.6rem;
    text-shadow: 0 1px 0 #FFF;
    padding: 0 10%;
    box-sizing: border-box;
}

.home p:last-child {
    margin-top: 60px;
    font: 6rem 'Nothing You Could Do', cursive;
    text-align: center;
}

.AlesNav {
    width: 20%;
    margin-top: 1.5rem;
    text-transform: uppercase;
    float: right;
}

.AlesNav--items {
    padding: 1rem;
    box-shadow: 1px 1px 0 #EEE, inset 1px 1px 0 #EEE;
    border: 1px solid #333;
}

.AlesNav--item {
    padding-left: 1rem;
    border-radius: 1rem;
    line-height: 2.5rem;
    text-shadow: 0 1px 0 #EEE;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
}

.AlesNav--item:hover {
    background-color: #BBB;
    cursor: pointer;
}

.AlesNav--item.selected {
    background-color: firebrick;
    color: #CCC;
    text-shadow: none;
}

.AlesNav--item.selected:after {
    display: inline-block;
    margin-right: 1rem;
    content: " ☜";
    font-size: 3rem;
    color: #FFF;
    float: right;
}

.BeerTile {
    position: absolute;
    height: 300px;
    width: 300px;
    margin: 10px;
    box-shadow: 0 0 7px 0 #666;
    border: 5px solid #000;
    border-radius: 5px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: -80% 5%;
    font-size: 1.2rem;
}

.BeerTile--title {
    margin: 22px 0 5px 100px;
    font-size: 2.5rem;
    color: #F01478;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-shadow: 0 0 2px rgba(240, 20, 120, 0.2);
}

.BeerTile--notes {
    margin: 0 10px 0 100px;
    color: #999;
}

.BeerTile--brewer {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.BeerTile--strength {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #757575;
}

.Dialog {
    position: absolute;
    height: 40%;
    width: 40%;
    top: 35px;
    left: 360px;
    font: 5rem 'Luckiest Guy', cursive;
    text-align: center;
    text-shadow: 0 1px 0 #FFF;
    line-height: 6rem;
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
}

button {
    height: 40%;
    width: 45%;
    padding-top: 10px;
    box-shadow: 0 1px 0 #EEE, inset 0 1px 3px #EEE;
    border: 1px solid darkgrey;
    background-color: darkseagreen;
    font-size: 3rem;
    font-family: inherit;
    line-height: 3rem;
    cursor: pointer;
}

button.cancel {
    background-color: darksalmon;
}
