@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url("isotopeStyles.css");

@-webkit-keyframes wobble {
	0% {
      /*-webkit-transform: rotateZ(0deg);*/
      opacity: 1;
	}
	33% {
/*      -webkit-transform: rotateZ(2deg);*/
        opacity: 0.5;
	}
	66% {
/*      -webkit-transform: rotateZ(-2deg);*/
        opacity: 0.5;
	}
	100% {
/*      -webkit-transform: rotateZ(0deg);*/
        opacity: 1;
	}
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-user-select: none;
}

html {
    font-size: 10px;
}

body {
    background: #EEE;
    color: #000;
}

.wobble {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
}

header {
    height: 10rem;
    border-bottom: 1rem solid black;
    background-color: white;
    box-shadow: 0 0 10px 1px #666;
    font: 7rem 'Nothing You Could Do', cursive;
    text-align: center;
}

.mainContent {
    width: 95%;
    position: relative;
    margin: 0 auto;
/*    padding-right: 2rem;*/
}

.mainContainer {
    width: 80%;
}

nav {
    width: 20%;
    float: right;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    padding: 0;
    line-height: 2.5rem;
}

nav > ul {
    background-color: #DDD;
    padding: 1rem;
}

nav ul ul li {
    -webkit-transition: background-color 0.3s linear;
    padding-left: 1rem;
    border-radius: 1rem;
}

nav ul ul li:hover {
    background-color: #BBB;
}

nav ul ul li.selected {
    background-color: firebrick;
    color: #CCC;
}

nav ul ul li.selected:after {
    display: inline-block;
    float: right;
    margin-right: 1rem;
    content: " ☜";
    font-size: 3rem;
    color: #FFF;

}

.beerTile {
    position: absolute;
    height: 300px;
    width: 300px;
    border: 5px solid #000;
    margin: 10px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: -80% 5%;
    box-shadow: 0 0 10px 1px #666;
    font-size: 1.2rem;
    border-radius: 5px;
}

.beerTile h3 {
    font-size: 2.5rem;
    color: #F01478;
    margin: 22px 0 5px 100px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 0 2px rgba(240, 20, 120, 0.2);
}

.beerTile p {
    color: #999;
    margin: 0 10px 0 100px;
}

.beerTile .brewer {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.beerTile span {
    position: absolute;
    right: 10px;
    bottom: 10px;
}