@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do&text=1stBulerFiva2012HASocmngdby);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy&text=Isthiealyurokngf?!,BmYN);
@import url("isotopeStyles.css");

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
}

html {
    font-size: 10px;
}

body {
    background: #FFB6C1 url("assets/100-90-4.png");
    color: #000;
}

a:link {
    color: slateblue;
    text-decoration: none;
}
a:hover {
    color:#FFF;
    text-decoration: none;
    text-shadow: none;
}

a.selected {
    color: #FFF;
}

.wobble {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
}

header {
    height: 10rem;
    border-bottom: 3rem solid black;
    background: #FFFFE0 url("assets/100-90-4.png");
    font: 6rem 'Nothing You Could Do', cursive;
    text-align: center;
    text-shadow: 0 1px 0 #FFF;
    white-space: nowrap;
    overflow: hidden;
}

header nav {
    position: absolute;
    top: 100px;
    left: 10%;
    font-size: 1.8rem;
    color: white;
    text-shadow: none;
}

header nav span {
    display: inline-block;
    margin-right: 20px;
}

.mainContent {
    position: relative;
    height: 100%;
    width: 95%;
    margin: 0 auto;
}

.mainContent .view {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    display: none;
}

.mainContent .view.selected {
    visibility: visible;
    display: block;
}

.mainContainer {
    width: 80%;
}

.home {
    font-size: 1.6rem;
    text-shadow: 0 1px 0 #FFF;
    padding: 0 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.home h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 40px 0 25px 0;
}

.home h2 {
    font-size: 2rem;
    margin: 30px 0 10px 0;
}

.home p:last-child {
    margin-top: 60px;
    font: 6rem 'Nothing You Could Do', cursive;
    text-align: center;
}

.ales nav {
    float: right;
    width: 20%;
    margin-top: 1.5rem;
    text-transform: uppercase;
}

.ales nav div {
    padding: 1rem;
    border: 1px solid #333;
    box-shadow: 1px 1px 0 #EEE, inset 1px 1px 0 #EEE;
}

.ales nav ul {
    line-height: 2.5rem;
}

.ales nav ul li {
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    padding-left: 1rem;
    border-radius: 1rem;
    text-shadow: 0 1px 0 #EEE;
}

.ales nav ul li:hover {
    background-color: #BBB;
}

.ales nav ul li.selected {
    background-color: firebrick;
    color: #CCC;
    text-shadow: none;
}

.ales nav ul li.selected:after {
    display: inline-block;
    float: right;
    margin-right: 1rem;
    content: " ☜";
    font-size: 3rem;
    color: #FFF;

}

.beerTile {
    position: absolute;
    height: 300px;
    width: 300px;
    border: 5px solid #000;
    margin: 10px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: -80% 5%;
    box-shadow: 0 0 7px 0 #666;
    font-size: 1.2rem;
    border-radius: 5px;
}

.beerTile h3 {
    font-size: 2.5rem;
    color: #F01478;
    margin: 22px 0 5px 100px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-shadow: 0 0 2px rgba(240, 20, 120, 0.2);
}

.beerTile p {
    color: #999;
    margin: 0 10px 0 100px;
}

.beerTile .brewer {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.beerTile span {
    position: absolute;
    color: #757575;
    right: 10px;
    bottom: 10px;
}

.choiceDialog {
    position: absolute;
    height: 40%;
    width: 40%;
    top: 35px;
    left: 360px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 5rem;
    text-shadow: 0 1px 0px #FFF;
    line-height: 6rem;
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
}

.choiceDialog span {
    display: block;
    margin: auto;
    text-align: center;
}

.choiceDialog ul li {
    display: inline-block;
    height: 40%;
    width: 45%;
    padding-top: 10px;
    font-size: 3rem;
    line-height: 3rem;
    border: 1px solid darkgrey;
    text-align: center;
    background-color: darksalmon;
    box-shadow: 0px 1px 0 #EEE, inset 0 1px 3px #EEE;
}

.choiceDialog ul li:first-child {
    float: left;
}

.choiceDialog ul li:last-child {
    float: right;
    background-color: darkseagreen;
}