@import url("isotopeStyles.css");

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-user-select: none;
}

html {
    font-size: 10px;
}

body {
    background: #EEE;
    color: #000;
}

header {
    height: 10rem;
    background-color: white;
    box-shadow: 0 0 10px 1px #666;
}

.mainContent {
    width: 95%;
    position: relative;
    margin: 0 auto;
/*    padding-right: 2rem;*/
}

.mainContainer {
    width: 80%;
}

nav {
    width: 20%;
    float: right;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    padding: 0;
    line-height: 2.5rem;
}

nav > ul {
    background-color: #DDD;
    padding: 1rem;
}

nav ul ul li {
    -webkit-transition: background-color 0.3s linear;
    padding-left: 1rem;
    border-radius: 1rem;
}

nav ul ul li:hover {
    background: #BBB;
}

nav ul ul li.selected:after {
    content: "•";
    font-size: 3rem;
    display: inline-block;
    float: right;
    margin-right: 1rem;
}

.beerTile {
    position: absolute;
    height: 300px;
    width: 300px;
    margin: 10px;
    background-color: white;
/*    background-image: url("../assets/1845.jpg");*/
    background-repeat: no-repeat;
    background-position: -80% 5%;
    box-shadow: 0 0 10px 1px #666;
    font-size: 1.2rem;
}

.beerTile h3 {
    font-size: 2.5rem;
    color: #F01478;
    margin: 22px 0 5px 100px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 0 2px rgba(240, 20, 120, 0.2);
}

.beerTile p {
    color: #999;
    margin: 0 10px 0 100px;
}

.beerTile span {
    position: absolute;
    right: 10px;
    bottom: 10px;
}